.rewardTable{
   table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
    width: 100%;
  }
  td, th {
    border: 1px solid #999;
    padding: 5px;
  }
  td{
    font-size: 14px;
    font-weight: 400;
  }
  th {
    background: brown;
    color: white;
    border-radius: 0;
    // position: sticky;
    top: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .primary{
    background-color: #000000
  }
  
  tfoot > tr  {
    background: black;
    color: white;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }
  
  .pagination{
    &-container{
        margin: 8px;
    }
    &-btn{
        margin: 8px;
    }
  }
}